pkgbase = linux-aarch64-flippy
	pkgver = 6.1.69
	pkgrel = 1
	url = https://github.com/unifreq/linux-6.1.y
	arch = aarch64
	license = GPL2
	makedepends = kmod
	makedepends = bc
	makedepends = dtc
	makedepends = uboot-tools
	options = !strip
	source = linux-6.1.y-1f0fdc97ea762bdf0d0ac8d1df0e79d73db94712.tar.gz::https://github.com/unifreq/linux-6.1.y/archive/1f0fdc97ea762bdf0d0ac8d1df0e79d73db94712.tar.gz
	source = config
	source = linux.preset
	sha256sums = e7eebd8d97b72574a79d7af821405cb7b6d4c502b3985b36fa60a326adf55e0c
	sha256sums = 19ab2f0c461498e67dd57ea30fe490d9e33ebbf8865995c7b7dfb0a965e2d10b
	sha256sums = bdcd6cbf19284b60fac6d6772f1e0ec2e2fe03ce7fe3d7d16844dd6d2b5711f3

pkgname = linux-aarch64-flippy
	pkgdesc = The Linux Kernel and module - flippy's AArch64-focused fork aiming to increase usability
	depends = linux-aarch64-flippy-dtb
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = uboot-legacy-initrd-hooks: to generate uboot legacy initrd images
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = linux-firmware-amlogic-ophub: complete firmware set for devices with Amlogic SoCs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-aarch64-flippy-dtb-allwinner: dtbs for Allwinner SoCs
	optdepends = linux-aarch64-flippy-dtb-amlogic: dtbs for Amlogic SoCs
	optdepends = linux-aarch64-flippy-dtb-rockchip: dtbs for Rockchip SoCs
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch
	backup = etc/mkinitcpio.d/linux-aarch64-flippy.preset

pkgname = linux-aarch64-flippy-headers
	pkgdesc = Header files and scripts for building modules for linux kernel - flippy's AArch64-focused fork aiming to increase usability

pkgname = linux-aarch64-flippy-dtb-allwinner
	pkgdesc = DTB files for Allwinner SoCs for flippy's AArch64 kernel
	provides = linux-aarch64-flippy-dtb=6.1.69

pkgname = linux-aarch64-flippy-dtb-amlogic
	pkgdesc = DTB files for Amlogic SoCs for flippy's AArch64 kernel
	provides = linux-aarch64-flippy-dtb=6.1.69

pkgname = linux-aarch64-flippy-dtb-rockchip
	pkgdesc = DTB files for Rockchip SoCs for flippy's AArch64 kernel
	provides = linux-aarch64-flippy-dtb=6.1.69
